name: Tests Multi-OS

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node: [16, 18, 20]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Instalar dependencias
        run: npm install
        working-directory: proyecto-demo

      - name: Ejecutar tests
        run: npm test
        working-directory: proyecto-demo
